body {
  background-color: #0e0d0d;
  color: #7b836c;
  text-align: center;
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
a {
  display: inline;
  text-decoration: none;
}
.arimo-theme {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.work-sans-theme {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
/* Navigation */ 
.nav-container {
  width: 100%;
  height: 60px;
  outline: solid 10px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  font-family: Work Sans;
  justify-content: center;
}
.desktop-rocks {
  display: flex;
}
.burger-button {
  display: none;
  height: 50px;
  width: 50px;
  position: relative;
}
.burger-button span {
  height: 5px;
  width: 2em;
  background-color: #7b836d;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.burger-button span:nth-child(1) {
  top: 25%;
}
.burger-button span:nth-child(3) {
  top: 75%;
}
.burger-button.open span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-button.open span:nth-child(2) {
  opacity: 0;
}
.burger-button.open span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.burger-button-rocks {
  background-color:  #161616;
  height: 100vh;
  width: 100%;
  border-radius: 0px 40px 40px 0px;
  max-width: 220px;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  transition: .3s ease;
  display: none;
}

.burger-button-rocks.open {
  left: 0;
}

.nav-container img {
  height: 80%;
  width: auto;
  padding: 0px 10px 0px 10px;
}
.nav-item {
  padding: 0px 40px 0px 20px;
}
.nav-item p {
  font-size: 24px;
  color: #7b836c;
  font-weight: bold;
}
.nav-item p:hover {
  color: #0cfd99;
}
/* Main */
.miss-you-bro {
  font-size: 26px;
  color: #d9a637;
  font-weight: bold;
  font-family: Arimo;
  word-break:keep-all;
}
.JustAFan-index {
  height: auto;
  width: 90%;
  object-fit: cover;
  margin: 0px 0px 0px 0px;
}
.JustAFan-others {
  max-width: 390px;
  height: auto;
  object-fit: cover;
  margin: 20px 0px 0px 0px;
}
.credits {
  text-decoration: underline;
  display: inline;
  
}
.credits:hover {
  color: #0cfd99;
}
dialog {
  border: #d9a637 5px solid;
  border-radius: 10px;
  background-color: #0e0d0d;
  color: #d9a637;
}
dialog a  {
  color: #d9a637;
}
dialog a:hover  {
  color: #0cfd99;
}
dialog a:active  {
  color: #0cfd99;
}
/* Record Player */
.record-player{
  height: 200px;
  width: 400px;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: transparent;
  border: #d9a637 5px solid;
  border-radius: 10px;
  margin: 60px 0px 0px 0px;
}
.record {
  margin: 0px 0px 0px 20px;
  align-self: center;
}
.record-crust {
  height: 128.2px;
  width: 128.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  border: #d9a630 4px solid;
}
.record-mantle {
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70d930;
  border-radius: 50%;
}
.record-core {
  height: 9px;
  width: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}
 
.dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  position: relative;
  top: 59px;
  right: 10px;
  height: 30px;
  width: 20px;
}
.upper-dot {
  background-color: #d9a630;
  height: 9px;
  width: 9px;
  border-radius: 50%;
}
.lower-dot {
  background-color: #d9a630;
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.song-name {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  font-family: Arimo;
  padding: 0px 40px 0px 40px;
  margin: 0px 0px 0px 0px;
}

/* Jolyne String(Placeholder for now) */ 
.string {
  --s: 44px; /* size of the wave */
  --b: 12px; /* thickness of the line */
  --m: .6; /* curvature of the wave [0 2] */
  position: relative;
  z-index: -1;
  background: #4355c6;
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
     calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
     50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}
/*screw you mobile I had to learn how to make a ham-menu*/ 
@media screen and (max-width: 780px) {
  .desktop-rocks {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .burger-button-rocks {
    display: flex;
  }
  .nav-container {
    justify-content: right;
  }
  .nav-item p {
    font-size: 28px;
  }
}